@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 250px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul Li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    font-family: 'Inter', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #2e6f40;
}
h1 {
    color: #2e6f40;
    font-size: 70px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
    justify-content: center;
}

.col p{
    font-size: 20px;
    justify-content: center;
    text-align: center;
    color: #2e6f40;
}

.academic-section {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    gap: 20px;
}

.left-column {
    flex: 1;
    background-color: #2e6f40;
    /* Black background */
    color: #fff;
    /* White text */
    padding: 40px;
}

.left-column h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.left-column p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.left-column a {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.right-column {
    flex: 2;
    display: flex;
    gap: 20px;
}

.highlight {
    flex: 1;
    background-color: #fff;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.highlight img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.highlight h3 {
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2e6f40;
}

.highlight p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.highlight a {
    font-size: 14px;
    color: #2e6f40;
    font-weight: bold;
    text-decoration: none;
}

.highlight .ctn{
    padding: 8px 15px;
    background: #2e6f40;
    border-radius: 30px;
    color: whitesmoke;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
}

.study-fields{
    padding-left: 9%;
}

.study-fields .title h1{
    margin-top: 100px;
    font-size: 40px;
}

.study-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

/* Card Styling */
.study-container.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.study-container .card img {
    width: 100%;
    height: 150px;
    display: block;
    border-radius: 10px;
}

.study-container .card h3 {
    font-size: 18px;
    margin: 15px 0;
    color: #2e6f40;
}

.project{
    margin-top: 80px;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.3)), url('../assets/coast.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.project-content h1{
    padding-left: 3%;
}

.project-content{
    padding-left: 3%;
    padding-right: 3%;
}

.project-content p{
    padding-left: 3%;
    padding-right: 3%;
    color: #2e6f40;
    padding-bottom: 20px;
}

.project-content .ctn{
    padding: 8px 15px;
    background: #2e6f40;
    border-radius: 30px;
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 3%;
    font-family: 'Inter', sans-serif;
}

.more-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    margin-top: 100px;
}

.more-card{
    width: 48%;
    padding: 20px;
    background-color: #fff;
    border-top: 4px solid #2e6f40;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.more-card h2{
    font-size: 18px;
    margin: 0 0 10px;
    color: #2e6f40;
    font-family: 'Lora', sans-serif;
}

.more-card p{
    font-size: 14px;
        color: #2e6f40;
        margin: 0 0 15px;
        font-family: 'Inter', sans-serif;
}

.more-card a{
    display: block;
        font-size: 14px;
        color: #2e6f40;
        text-decoration: none;
        margin: 5px 0;
        font-family: 'Inter', sans-serif;
}

.more-card a:hover{
    text-decoration: underline;
}


.activities-container {
    margin-top: 120px;
    display: flex;
    max-width: 1200px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
}

.activities-container h1{
    font-size: 40px;
}

.image-section {
    flex: 1;
    background-color: #eee;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 2%;
}

.text-section {
    flex: 2;
    padding: 20px;
}

.text-section h1 {
    color: #2e6f40;
    margin-bottom: 15px;
}

.text-section p {
    color: #2e6f40;
    margin-bottom: 20px;
    line-height: 1.6;
}

.text-section ul {
    list-style-type: none;
    padding: 0;
}

.text-section ul li {
    margin-bottom: 15px;
    color: #2e6f40;
    font-family: 'Inter', sans-serif;
}

.text-section ul li strong {
    color: #2e6f40;
    font-family: 'Inter', sans-serif;
}

.study-fields-button-container{
    display: flex;
        justify-content: center;
        margin-top: 20px;
}

.study-fields-button-container button{
    width: 180px;
        color: #fff;
        font-size: 15px;
        padding: 12px 0;
        background: #2e6f40;
        border: 0;
        border-radius: 20px;
        outline: none;
        margin-bottom: 30px;
}

































footer {
    margin-top: 10px;
    background-color: #2e6f40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 1px;
    font-family: 'Inter', sans-serif;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-logo img {
    width: 300px;
    margin: 10px 0;
    margin-top: 25px;
}

.footer-logo p {
    font-size: 12px;
}